<button (click)="onChangeGraph()">Click here to change the graph</button>
<div>
  <ngx-graph
    [view]="[1000, 1000]"
    [layout]="layout"
    [links]=links
    [nodes]=nodes
    [curve]="curve"
    [draggingEnabled]="draggingEnabled"
    [panningEnabled]="panningEnabled"
    [enableZoom]="zoomEnabled"
    [zoomSpeed]="zoomSpeed"
    [minZoomLevel]="minZoomLevel"
    [maxZoomLevel]="maxZoomLevel"
    [panOnZoom]="panOnZoom"
    [autoZoom]="autoZoom"
    [autoCenter]="autoCenter"
    [update$]="update$"
    [center$]="center$"
    [zoomToFit$]="zoomToFit$">
        <ng-template #defsTemplate>
          <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
            <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
          </svg:marker>
        </ng-template>

        <ng-template #nodeTemplate let-node>
          <svg:g *ngIf="node.data.node.nodeType==='Milestone'"
            class="node"
            (click)="onNodeClick(node)">
            <svg:rect
              class="node-rect"
              [attr.width]=150
              [attr.height]=55
              [attr.rx]=5
              [attr.ry]=5
              [attr.fill]="milestoneBackground"/>
            <svg:text
              dominant-baseline="middle"
              text-anchor="middle"
              [attr.fill]=milestoneText
              [attr.x]="node.dimension.width / 2"
              [attr.y]="node.dimension.height / 2">{{ node.label | slice:0:17 }}</svg:text>
          </svg:g>

          <svg:g *ngIf="node.data.node.nodeType==='LinkPoint'" class="node" (click)="onNodeClick(node)">
            <svg:rect class="node-rect" [attr.width]=150 [attr.height]=55 [attr.rx]=5 [attr.ry]=5
              [attr.fill]="milestoneBackground" />
            <svg:text dominant-baseline="middle" text-anchor="middle" [attr.fill]=milestoneText
              [attr.x]="node.dimension.width / 2" [attr.y]="node.dimension.height / 2">{{ node.label | slice:0:17 }}</svg:text>
          </svg:g>

          <svg:g *ngIf="node.data.node.nodeType==='Action'"
            class="node"
            (click)="onNodeClick(node)">
            <svg:ellipse
              class="node-ellipse"
              [attr.width]=150
              [attr.height]=65
              [attr.cx]="node.dimension.width / 2"
              [attr.cy]="node.dimension.height / 2"
              [attr.rx]=65 [attr.ry]=30
              [attr.fill]="nodeBackground" />
            <svg:text
              dominant-baseline="middle"
              text-anchor="middle"
              [attr.fill]="nodeText"
              [attr.x]="node.dimension.width / 2"
              [attr.y]="node.dimension.height / 2">{{node.label}}</svg:text>
          </svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link>
          <svg:g class="edge" (click)="onLineClick(link)">
            <svg:path class="line" stroke-width="2" marker-end="url(#arrow)">
            </svg:path>
            <svg:text class="edge-label" text-anchor="middle">
              <textPath class="text-path" [attr.fill]="" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline"
                startOffset="50%">
                {{link.label}}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template>
  </ngx-graph>
</div>
